:root {
    --principalFont: "Roboto", sans-serif;
    --secondaryFont: "Lato", sans-serif;
    --separation: 5rem;
    --primary: #1073BA;
    --secondary: #00da55;
    --white: #fff;
    --grey: #3b3b3b;
    --black: #1f1e1e;
    --greyLight: #e1e1e1;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: var(--principalFont);
    font-size: 1.6rem;
    line-height: 1.5;
}

/** Globales **/
h1,h2,h3 {
    font-weight: bold;
    font-family: var(--secondaryFont);
    margin: calc( var(--separation) / 2 ) 0;
}
h1 {
    font-size: 4.4rem;
}
h2{
     font-size: 3.6rem;
}
h3 { 
    font-size: 2.8rem;
}
img {
    max-width: 100%;
    display: block;
}

/* Utilidades */
.textCenter {
    text-align: center;
}


